.footer{
	background-color: $dark-blue;
	text-align: center;
	padding: 40px 0 36px;
}
.text-wrap__copyright{
	font-size: $footer-font-size;
	line-height: $footer-line-height;
	color: $footer-font-color
}
